<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень INFO для корня, чтобы видеть сообщения Kotest -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- POI оставляем на WARN чтобы не засорять логи -->
    <logger name="org.apache.poi" level="WARN"/>

    <!-- Kotest логирование -->
    <logger name="io.kotest" level="INFO"/>
</configuration>